@use "../abstracts/variables" as *;
@use "../abstracts/mixins" as *;

.header {
	border-bottom: 1px solid $Gray300;

	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;

	padding: 0.5rem 1rem;

	max-width: 100%;
	
	&__logo {
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: center;

		gap: var(--gap-bg);

		img {
			max-width: 100px;
			border-radius: var(--brdr-rds);
		}

		button {
			background-color: transparent;

			border: 1px solid $Gray300;
			border-radius: var(--brdr-rds);

			width: 36px;
			height: 36px;

			display: grid;
			place-items: center;

			svg {
				width: 24px;
				height: 24px;
				color: $Gray500;
			}

			@include Button_interact;
		}
	}

	&__search {
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: center;

		gap: var(--gap-sm);

		background-color: $Gray100;

		border: 1px solid $Gray300;
		border-radius: var(--brdr-rds);

		padding: 0.25rem 1rem;

		svg {
			color: $Gray500;
			width: 18px;
		}

		input {
			width: 256px;

			background: transparent;
			border: none;
			padding: 0.25rem 0.25rem;

			outline: none;

			font-size: 14px;
			font-family: "Inter", sans-serif;
			color: $Gray500;

			// &:focus > .header__search{
			// 	background-color: $Gray50;
			// 	color: $Gray900;
			// 	border: 1px solid $Gray500;
			// }
		}

		p {
			margin-left: 4rem;
			font-size: 12px;
			color: $Gray500;

			display: flex;
			flex-direction: row;
			align-items: flex-start;
			justify-content: center;
			gap: 0.2rem;
		}
	}

	&__actions {
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: center;

		&-buttons {
			padding-inline: 2rem;

			display: flex;
			flex-direction: row;
			align-items: center;
			justify-content: center;

			gap: var(--gap-md);

			&-search {
				display: none;
			}

			button {
				background: transparent;
				border: none;
				outline: none;
				cursor: pointer;

				svg {
					width: 20px;
					height: 20px;
					stroke-width: 1;
					color: $Gray800;

					&:hover {
						color: var(--accent);
					}
				}
			}
		}

		&-user {
			display: flex;
			flex-direction: row;
			align-items: center;
			justify-content: center;
			gap: var(--gap-sm);

			background: transparent;
			border: none;

			&-photo {
				width: 42px;
				display: grid;
				place-items: center;

				img {
					width: 100%;
					border-radius: var(--brdr-rds);
				}
			}

			&-info {
				display: flex;
				flex-direction: column;
				align-items: flex-start;
				justify-content: center;

				strong,
				p {
					font-size: 14px;
				}

				p {
					color: $Gray500;
				}
			}

			&-icon {
				display: grid;
				place-items: center;

				svg {
					width: 16px;
				}
			}
		}
	}
}

@media screen and (max-width: 1280px) {
	.header {
		&__search {
			input {
				width: 100px;
			}
		}

		&__actions {
			&-buttons {
				padding-inline: 1rem;
			}
			&-user {
				&-info {
					display: none;
				}

				&-icon {
					display: none;
				}
			}
		}
	}
}

@media screen and (max-width: 768px) {
	.header {
		padding-inline: 0.5rem;

		&__search {
			display: none;
			input {
				width: 100%;
			}
			p {
				display: none;
			}
		}

		&__actions {
			&-buttons {
				padding-inline: 1rem;

				&-search {
					display: grid;
				}
			}
			&-user {
				&-info {
					display: none;
				}

				&-icon {
					display: none;
				}
			}
		}
	}
}
