@use "../abstracts/variables" as *;
@use "../abstracts/mixins" as *;
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Schibsted+Grotesk:ital,wght@0,400..900;1,400..900&display=swap");

html {
	box-sizing: border-box;
	font-size: 100%;

	font-family: "Inter", sans-serif;
	font-optical-sizing: auto;
}

*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: inherit;
}

.main-app {
	
	&__container {
		display: flex;
		flex-direction: row;
	}
}

.main {
	width: 100%;
	padding: 1rem;
}

/* Components */

.text_input {
	min-width: 256px;
	height: 36px;

	padding-inline: 0.5rem;
	border-radius: var(--brdr-rds);
	border: 1px solid $Gray300;

	font-family: "Inter", sans-serif;
	font-size: 14px;

	&:focus {
		border: 1px solid $Gray500;
		outline: $Gray500;
	}

}


.input_error{
	border: 1px solid $Amber500;
}

.input_valid{
	border: 1px solid $Green500;
}



.primary_button{
	cursor: pointer;
	padding: 0.5rem 1rem;
	
	font-size: 14px;

	border: none;
	border-radius: var(--brdr-rds);

	background-color: var(--accent);
	color: #ffffff;

	@include Button_interact;
}

